@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap .bg-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
nav {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: #1e266d;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  height: 200px;
  width: 122px;
}
.links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 23px;
}
.cta button {
  padding: 9px 25px;
  background-color: #1e266d;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 20px;
}
.details-container {
  display: flex;
  justify-content: space-between;
}
.details-heading h1 {
  color: #1e266d;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 3.25rem;
}
.details-paragraph p {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}
.btn-1 {
  padding-top: 20px;
}
